/LinearAlgebra-AFirstCourse.pdf
/LinearAlgebra-AFirstCourse.ps
*.fls
*.synctex.gz
*.aux
*.idx
*.ilg
*.ind
*.log
*.out
*.toc
*.dvi
*.two
*.texwatch.lock
/ex.tex
/LyryxLinAlgStyle.sty
/LyryxMathStyle.sty